@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@400;500&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  width: inherit;
  height: max-content;
  display: flex;
  flex-direction: column;

  align-items: center;
}
main {
  font-family: "Roboto", sans-serif;
  width: 82%;
}
.main_img-block {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .random-img {
    height: 65vh;
    width: 52%;
    background-image: url("https://images.unsplash.com/photo-1613565101119-3087013f2f4d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=630&ixlib=rb-1.2.1&q=80&w=600");
  }
  span {
    margin-top: 28px;
    font-size: 33px;
    font-weight: 500;
  }
}
.main-p {
  margin: 20vh 0;

  p {
    font-size: $main-fs;
    line-height: $main-line-h;
    margin-bottom: 3vh;
    span:first-child {
      margin-right: 6vw;
      font-size: $sub-fs;
      font-weight: 500;
    }
  }
  span {
    margin-right: 5px;
    font-weight: 500;
    font-size: $sub-fs;
  }
  div {
    display: inline;
    font-weight: 500;
    font-size: $sub-fs;
    transition: margin-left 0.2s linear;
    &:hover {
      margin-left: 5px;
    }
  }
}

.section-m {
  @extend %section;
  .contents {
    @extend %content-section;

    .content-img {
      height: 100%;
      width: 100%;
      display: flex;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.section-l {
  @extend %section;
  height: $section-height-l;
  .contents {
    @extend %content-section;
    .content-img_sm {
      height: 89%;
      width: 100%;
      display: flex;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.section-sm {
  @extend %section;

  .contents {
    @extend %content-section;
    .content-img_sm {
      height: 100%;
      width: 100%;
      display: flex;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

article {
  display: flex;
  justify-content: center;
  border-top: $border;
  font-family: "Roboto", sans-serif;
  padding: 4vh 0;
  width: 100%;
  height: max-content;
  .contents-xl {
    @extend %article-section;
    .content-xl {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .content-xl_text {
        font-size: $sub-fs;
        font-weight: 500;
      }
      .content-xl_img {
        width: 100%;
        height: 100%;
        margin-top: 35px;
        img {
          width: 100%;
          height: inherit;
        }
      }
      .content-xl_p {
        margin-top: 27px;
        font-size: $sub-fs;
        line-height: $main-line-h;
      }
      .button-wrapper {
        margin-top: 35px;
        display: flex;
        a {
          @extend %button;
        }
      }
    }
  }
}

footer {
  border-top: $border;
  display: flex;
  .footer-col {
    padding: 25px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    span {
      font-size: $sub-fs;
      font-weight: 500;
    }
    p {
      margin-top: 27px;
      font-size: $sub-fs;
    }
    .button-wrapper {
      margin-top: 35px;
      display: flex;
      a {
        @extend %button;
      }
    }
  }
}

.page-bottom {
  width: 100%;
  height: 55vh;
  padding: 3vh 10%;
  background-color: #464646;
  color: white;
  font-family: "Roboto", sans-serif;
  .bottom_header {
    display: flex;
    margin-bottom: 15vh;
    justify-content: flex-start;
    align-items: center;
    span:first-child {
      font-family: "Londrina Solid", cursive;
      font-size: $main-fs;
    }
    span:nth-child(2) {
      margin-left: 40%;
      margin-right: 25%;
    }
  }
  .bottom_footer {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 5px;
    }
    span:nth-child(3) {
      margin-top: 20px;
    }
  }
}
